/* #buildings_outer .panel-body {max-height: initial;height:initial;overflow:visible} */
.leaflet-marker-icon[src*='red'], .leaflet-marker-icon[src*='rot']{
  filter: drop-shadow(0px 0px 8px red);
}
.leaflet-marker-icon[src*='yellow'], .leaflet-marker-icon[src*='gelb']{
  filter: drop-shadow(0px 0px 8px yellow);
}
.leaflet-marker-icon[src*='green'], .leaflet-marker-icon[src*='gruen']{
  filter: drop-shadow(0px 0px 8px green);
}

.missionSideBarEntry { display: none }
.hidden { display: none !important }
.block { display: block !important }

#lss_helper_missions > li { border-top: 1px solid #0007; border-bottom: 1px solid fff7; }
#lss_helper_container #lss_helper_missions .sendVehicles {}
#lss_helper_container.sendVehicles #lss_helper_missions .sendVehicles { display: none }

.lss_available, .lss_in_motion, .lss_unavailable {background: #505050;font-size:18px;padding:0 2px}
.lss_available { color: #0a0; }
.lss_in_motion { color: #aa0; }
.lss_unavailable { color: #a00; }
.lss_call { color: '#f00'; }

.state_finishing { color: #000; background: #0f0 }
.state_unattended { color: #000; background: #f00 }
.state_attended { color: #000; background: #ff0 }
.state_verband { border: 1px solid #6a6; border-radius: 20px }

#mission_general_info, #back_to_mission { text-align:right }
.mission_detail {
  display: block;
  padding: 2px 4px;
  margin: 0;
  border-left: 1px solid #0007;
  border-right: 1px solid #3337;
}
#missions .panel-success .panel-heading {
  background: linear-gradient(to bottom, #01a901 0, #005900 100%) !important
}
#missions .panel-success .panel-body {
  background: linear-gradient(to bottom, #01a901 0, #005900 100%) !important
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #fff;
}

.separator:not(:empty) {
  margin: .25em;
}

.separator:not(:empty)::before {
  margin-right: 1em .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}